/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */

@font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src:
    local("PP Neue Montreal Book"),
    url("./assets/fonts/ppneuemontreal-book.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("PP Neue Montreal Italic"),
    url("./assets/fonts/ppneuemontreal-italic.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Thin";
  font-style: normal;
  font-weight: normal;
  src:
    local("PP Neue Montreal Thin"),
    url("./assets/fonts/ppneuemontreal-thin.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("PP Neue Montreal Medium"),
    url("./assets/fonts/ppneuemontreal-medium.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal SemiBold italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("PP Neue Montreal SemiBold italic"),
    url("./assets/fonts/ppneuemontreal-semibolditalic.woff") format("woff");
}

@font-face {
  font-family: "PP Neue Montreal Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("PP Neue Montreal Bold"),
    url("./assets/fonts/ppneuemontreal-bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

/* Variables */
:root {
  --bg-color: #0e1123;
  --section-bg-color: #12162d;
  --text-callout-color: #932eb8;
  --text-link-color: #b65cd6;
  --secondary-logo-color: #621f7a;
  --text-color: #acacd0;
  --text-header-color: #acacd0;

  --text-size-regular: 1rem;
  --text-size-large: 1.25rem;
  --text-size-xlarge: 1.5rem;
  --text-size-xxlarge: 2.125rem;

  --spacing-xsmall: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-mediumLarge: 1.5rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 2.5rem;
  --spacing-xxlarge: 3rem;
}
body {
  background-color: var(--bg-color);
  font-family: "PP Neue Montreal Book", sans-serif;
  font-size: var(--text-size-regular);
  letter-spacing: 0.5px;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PP Neue Montreal Medium", sans-serif;
  color: var(--text-header-color);
  margin-bottom: var(--spacing-small);
}

h1 {
  font-size: var(--text-size-xxlarge);
}

h2 {
  font-size: var(--text-size-large);
}

h3 {
  font-size: var(--text-size-xlarge);
}

p,
li {
  line-height: var(--spacing-mediumLarge);
  margin-bottom: var(--spacing-small);
  color: var(--text-color);
  font-size: var(--text-size-regular);
}

ul {
  padding-inline-start: 1lh;
  list-style-type: circle;
  /* list-style-position: inside; */
}
a {
  color: var(--text-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.header-image {
  max-width: 150px;
  padding-bottom: var(--spacing-medium);
}

.subheader {
  color: var(--text-callout-color);
  margin-bottom: var(--spacing-large);
}

.outer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-large);
  position: relative;
  width: 100%;
}

.inner-wrapper {
  width: 100%;
  max-width: 600px;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.button {
  border: 1px solid var(--text-link-color);
  padding: var(--spacing-small);
}

.button-secondary {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
}

.button-secondary::before {
  content: "";
  display: inline-block;
  width: var(--text-size-regular);
  height: var(--text-size-regular);
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23b65cd6"%3E%3Cpath d="M8 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H3.6C3.26863 3 3 3.26863 3 3.6V16" stroke="%23b65cd6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3Cpath d="M3.5 20.5L12 12M12 12V16M12 12H8" stroke="%23b65cd6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.button-secondary:hover::before {
  content: "";
  display: inline-block;
  width: var(--text-size-regular);
  height: var(--text-size-regular);
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23acacd0"%3E%3Cpath d="M8 21H20.4C20.7314 21 21 20.7314 21 20.4V3.6C21 3.26863 20.7314 3 20.4 3H3.6C3.26863 3 3 3.26863 3 3.6V16" stroke="%23acacd0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3Cpath d="M3.5 20.5L12 12M12 12V16M12 12H8" stroke="%23acacd0" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  padding-bottom: var(--spacing-medium);
}

.lead {
  padding-top: var(--spacing-medium);
}

.work-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.links {
  align-items: center;
  display: flex;
  gap: var(--spacing-medium);
  padding-bottom: var(--spacing-large);
}

.work-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.work-item-highlighted {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-item-highlighted-header {
  padding-bottom: var(--spacing-small);
}

.work-item-main {
  display: flex;
  gap: var(--spacing-medium);
}

.work-item-logo {
  width: 2.75rem;
  height: 2.75rem;
}

.work-item-logo-container {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
  background-color: var(--section-bg-color);
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  /* aspect-ratio: 1/1; */
}

.intro-text {
  margin-bottom: var(--spacing-mediumLarge);
}

.icon {
  width: 15px;
  fill: var(--text-link-color);
}

.work {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

/* Project details */

.project-details {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
}

.close-x {
  position: absolute;
  top: var(--spacing-medium);
  right: var(--spacing-medium);
  width: var(--text-size-regular);
  height: var(--text-size-regular);
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%239970ff"%3E%3Cpath d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426" stroke="%239970ff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-details-inner {
  padding: var(--spacing-large);
  display: flex;
  width: 100%;
  max-width: 1000px;
}

.project-details-inner::after {
  padding: var(--spacing-large);
}

.project-details-content {
  padding: var(--spacing-xxlarge);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.project-details-example-img {
  width: 100%;
  max-width: 1000px;
}

.project-details-section {
  display: flex;
  gap: var(--spacing-medium);
  flex-direction: column;
}

.project-details-section-content {
  display: flex;
  gap: var(--spacing-medium);
  flex-direction: column;
}

.project-details-section-text-column {
  flex: 1;
}

.project-details-section-image-column {
  flex: 2;
}

.project-details-example-img-container {
  display: flex;
  gap: var(--spacing-medium);
}
